 @model ConsoleApplication.Models.ViewModels.ItemViewModel
 @section styles{
    <link rel="stylesheet" href="/stylesAdmin.css" />
}

<form method="post" class="form-horizontal" asp-action="Post" style="margin-top:10%" asp-controller="admin" enctype="multipart/form-data">
    
         <div class="form-group">          
                <label asp-for="@Model.Items.Description" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input autocomplete="off" class="form-control "  asp-for="@Model.Items.Description">
            </div>
        </div>
         <div class="form-group">          
                <label asp-for="@Model.Items.Tags" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input autocomplete="off" class="form-control " value="New"  asp-for="@Model.Items.Tags">
            </div>
        </div>
    <input type="file" name="files" style="margin-bottom:2%; margin-top:2%" />
    <input type="submit" value="Upload" />
</form>